@page "/remote/{device}"

@using caas_gui.Data
@inject MsgPublishService MsgService

@if(validSerial) {
  <PageTitle>Caas Remote</PageTitle>

  <button class="btn btn-primary" @onclick="Clicked">Start</button>
}

@code {
    [Parameter]
    public string device { get; set; } = string.Empty;
    protected int serial = 0;
    protected bool validSerial = false;

    protected override void OnInitialized()
    {
      (serial,validSerial) = MsgService.GetDevice(device);
    }

    private void Clicked()
    {
      MsgService.PublishStart(serial);  
    }
}