button {
  font-size: 2rem;
  width : 100%;
}

button[disabled] {
  filter: grayscale(1);
}

input {
  width : 100%;
  font-size: 2rem;
}

progress {
  width : 100%;
}

bottomrow {
  display : grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap : 1rem;
}