@page "/remote/{device}"

@using caas_gui.Data
@inject MsgPublishService MsgService

<PageTitle>Caas Remote</PageTitle>

<button class="btn btn-primary" @onclick="IncrementCount">Start</button>

@code {
    [Parameter]
    public string device { get; set; } = string.Empty;
    private int currentCount = 0;

    private void IncrementCount()
    {
      MsgService.PublishStart(device);  
      currentCount++;
    }
}