button {
  font-size: 1rem;
  width : 100%;
}

button[disabled] {
  filter: grayscale(1);
}

input {
  width : 100%;
  font-size: 1rem;
}

progress {
  width : 100%;
}

bottomrow {
  display : grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap : 0.25rem;
}

.top-row {
  grid-row: 1;
  background-color: var(--mhy-blue);
  justify-content: space-between;
  height: var(--top-row-height);
  display: flex;
  align-items: center;
  color : white;
  padding : 0 0.25rem 0 0.25rem;
}

centreing {
  grid-row: 2;
  display : grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height : 100%;
  width : 100%;
  justify-items: center;

}

article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.5rem 1fr 1fr;
  height : 100%;
  max-width: var(--content-max-width);
  width : min(100vw,var(--content-max-width));
  align-items: end;
  padding : 0 0.25rem 0 0.25rem
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--top-row-height) 1fr;
  height: 100%;
}

.mhylogo {
  height : 100%;
  width : auto;
}
