@page "/remote/{deviceCipherText}"

@using caas_gui.Data
@inject MsgPublishService MsgService

@if(device is not null) {
  <PageTitle>Caas Remote</PageTitle>
  <input list="datalistOptions" @onchange="@((ChangeEventArgs __e) => selectedConveyor = __e?.Value?.ToString())"/>
  <datalist id="datalistOptions">
      @foreach(var conveyor in conveyors) {
        <option value="@conveyor.Name"/>
      }
  </datalist>
  <button class="btn btn-primary" @onclick="Clicked">Start</button>
}

@code {
    [Parameter]
    public string deviceCipherText { get; set; } = string.Empty;
    protected Device? device = null;

    protected IEnumerable<Conveyor> conveyors = Enumerable.Empty<Conveyor>();

    protected string? selectedConveyor {get; set;}

    protected override void OnInitialized()
    {
      device = MsgService.GetDevice(deviceCipherText);
      
      if(device is not null) {
        conveyors = MsgService.GetConveyers(device);
      }
    }

    private void Clicked()
    {
      if(device is not null && selectedConveyor is not null) {
        var conveyor = conveyors.Where( e => e.Name == selectedConveyor);
        if(conveyor.Any()) {
          MsgService.PublishStart(device,conveyor.First());  
        }
      }
    }
}