@namespace Cads
@using cads_gui.Data

@implements IAsyncDisposable


@inject IJSRuntime JS
@inject BeltService Beltservice

<plotly-container>
    <div @ref="@jsPlotElement"></div>
</plotly-container>


@code {

  protected IJSObjectReference jsPlot;
  protected ElementReference jsPlotElement;  
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      var module = await JS.InvokeAsync<IJSObjectReference>("import", "./plot.js");
      jsPlot = await module.InvokeAsync<IJSObjectReference>("mk_LinePlot",jsPlotElement);
    }

  }

  public async Task UpdatePlotAsync(DateTime[] x, double[] y) {
    if(jsPlot is not null) {
      await jsPlot.InvokeVoidAsync("updatePlot",x,y);
    }
  }

  async ValueTask IAsyncDisposable.DisposeAsync()
  {
    try {
    if (jsPlot is not null) {
     await jsPlot.DisposeAsync();
    }
    }catch(Microsoft.JSInterop.JSDisconnectedException) {}
  }

}
