*.pem
*.orig
*.rej
*.swp
*~
profiles/**
**/.ionide/**
cads-edge/subprojects/
!cads-edge/subprojects/packagefiles/**/
!cads-edge/subprojects/*.wrap
cads-edge/**/*.log
cads-edge/release/**/*
cads-edge/debug/**/*
cads-edge/bin/**/*
**/bin
**/obj
cads-gui/localdev*
flatbuffers-typescript/*/*
flatbuffers-typescript/*.ts
!flatbuffers-typescript/main.ts
cads-gui/wwwroot/*.*
caas-gui/wwwroot/*.*
cads-gui/scans/**
cads-gui/scans
cads-gui/CadsFlatbuffers/*.*
caas-gui/CadsFlatbuffers/*.*
*.db-*
*.db
*.db.*
*.out
!cads-gui/wwwroot/plot.js
!caas-gui/wwwroot/plot.js
!cads-gui/wwwroot/css/site.css
!cads-gui/wwwroot/querybuilder.js
!cads-gui/wwwroot/cads-gui.lib.module.js
scripts/__pycache__
scripts/CadsFlatbuffers/__pycache__
