*.orig
*.rej
*.swp
*~
profiles/**
**/.ionide/**
cads-edge/subprojects/**/
!cads-edge/subprojects/packagefile/**
!cads-edge/subprojects/*.wrap
cads-edge/**/*.log
cads-edge/release/**/*
cads-edge/debug/**/*
cads-edge/bin/**/*
**/bin
**/obj
cads-gui/localdev*
cads-gui/flatbuffers-typescript/node_modules/
cads-gui/flatbuffers-typescript/cads-flatbuffers/
cads-gui/wwwroot/*.*
cads-gui/scans/**
cads-gui/scans
cads-gui/CadsFlatbuffers/*.*
*.db-*
*.db
*.db.*
*.out
whaleback-cv405-*
cads-gui/flatbuffers-typescript/**
!cads-gui/wwwroot/plot.js
!cads-gui/wwwroot/css/site.css
!cads-gui/wwwroot/querybuilder.js
!cads-gui/wwwroot/background_download.js
!cads-gui/wwwroot/cads-gui.lib.module.js
scripts/__pycache__
scripts/CadsFlatbuffers/__pycache__
