
@implements IAsyncDisposable

@inject IJSRuntime JS

<alignment-main>
  <text-mapping>
    <text>Noise</text>
    <text>:</text>
    <text @ref="@noiseValue">0</text>
    <text>%</text>
  </text-mapping>
  <canvas @ref="@jsPlotElement" width="420" height="120"></canvas>
  <bottomrow>
    <button class="btn btn-primary" @onclick="UserAligned">@(alignmentState == AlignmentState.Cancel ? "Laser On" : "Aligned")</button>
    <button class="btn btn-primary" @onclick="CancelClick">Cancel</button>
  </bottomrow>
</alignment-main>

@code
{
  public enum AlignmentState {
    Cancel = 0,
    Align = 1,
    Aligned = 2
  }

  AlignmentState alignmentState = AlignmentState.Cancel;

  [Parameter]
  public EventCallback<AlignmentState> aligned {get; set;}

  protected IJSObjectReference? jsPlot;
  protected ElementReference jsPlotElement;  
  protected ElementReference noiseValue;  

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      await using var module = await JS.InvokeAsync<IJSObjectReference>("import", "./plot.js");
      jsPlot = await module.InvokeAsync<IJSObjectReference>("mk_CanvasPlot",jsPlotElement,noiseValue);
    }
  }

  public async Task UpdateProfileData(byte[] z) {
    // 32 is primitive sanity check for minimum number of bytes
    if(jsPlot is not null && (z.Length > 32)) {
      await jsPlot.InvokeVoidAsync("updatePlot",z);
    }
  }

  private async Task UserAligned(MouseEventArgs e)
  {
    if(alignmentState == AlignmentState.Cancel) { 
      alignmentState = AlignmentState.Align;
      await aligned.InvokeAsync(alignmentState);
    }
    else if(alignmentState == AlignmentState.Align) {
      alignmentState = AlignmentState.Cancel;
      await aligned.InvokeAsync(AlignmentState.Aligned);
    }
  }

  public void Reset()
  {
    alignmentState = AlignmentState.Cancel;
  }

  private async Task CancelClick(MouseEventArgs e)
  {
    alignmentState = AlignmentState.Cancel;
    await aligned.InvokeAsync(AlignmentState.Cancel);
  }

  async ValueTask IAsyncDisposable.DisposeAsync()
  {
    try 
    {
      if (jsPlot is not null) {
        await jsPlot.DisposeAsync();
        jsPlot = null;
      }
    }catch(Microsoft.JSInterop.JSDisconnectedException) {}
  }
}