alignment-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height : 100%;
  width : 100%;
  align-items: end;
  padding : 0 0.25rem 0 0.25rem
}

bottomrow {
  display : grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap : 0.25rem;
}

canvas {
  width : 100%;
  aspect-ratio: 420 / 315;
  background-color: lightgray;
}