alignment-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(0,1fr) auto;
  height : 100%;
  width : 100%;
  align-items: center;
  padding : 0 0.25rem 0 0.25rem;
  min-height: 0;
  min-width : 0;
}

bottomrow {
  display : grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap : 0.25rem;
  padding : 0.1rem;
}

canvas {
  width : auto;
  height : 100%;
  justify-self: center;
  background-color: lightgray;
}