.page {
  position: relative;
}

.mhylogo {
  height : 100%;
  width : auto;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3.5rem 1fr;
  height: 100vh;
}

article {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4.5rem 1fr 1fr;
  height : 100%;
  max-width: var(--content-max-width);
  margin: 0 auto;
  width : min(100vw,var(--content-max-width));
  align-items: end;
}


.top-row {
    grid-row: 1;
    background-color: var(--mhy-blue);
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 2.5rem;
    display: flex;
    align-items: center;
}


