@inherits LayoutComponentBase

<PageTitle>caas-gui</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <img class="mhylogo img-fluid vertical-fit" src="https://cadswebsite.blob.core.windows.net/wwwroot/MHY Systems Logo.png" alt="Mhy Systems logo" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
