[Unit]
Description=Control a LED via Jetson GPIO
Requires=cadsled.socket
After=cadsled.socket

[Service]
ExecStart=/opt/cadsled.py
StandardInput=socket
StandardOutput=journal
