[Unit]
Description=Indicates Cads connection to MHY server
Requires=cadsled.service
After=cadsled.service

[Timer]
OnBootSec=10s
OnUnitActiveSec=10s
RemainAfterElapse=no
AccuracySec=1s

[Install]
WantedBy=timers.target